/*Colorfish Block*/
.swiss-coffee {
  background-color: rgba(213, 210, 147, 1)
;
}
.sherpa-blue {
  background-color: rgba(15, 76, 68, 1)
;
}
.opal {
  background-color: rgba(162, 195, 145, 1)
;
}
.oslo-gray {
  background-color: rgba(134, 148, 29, 1)
;
}
.sea-nymph {
  background-color: rgba(113, 164, 173, 1)
;
}

body {
  color: rgba(134, 148, 29, 1);
  font-family: helvetica sans-serif;;
}

#buttonBar {
  visibility: hidden;
  /*height: 50px;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

button {
 flex-grow: 1;
}

#newRound {
  visibility: hidden;
}
#forcefield {
  background-color: black;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 220px;
  float: left;
  z-index: -20;
}

img {
  background-position: center;
  display: inline-block;
  border: 10px rgba(213, 210, 147, 1) solid;
  height: 200px;
  width: 200px;
  margin: auto 25px;
  z-index: 0;
  border-radius: 25px;
}

.myFlip {
  -webkit-animation: myFlip 1.5s;
  position: relative;
}

@-webkit-keyframes myFlip {
  0%   { left: -1500px; }
  /*16%   { left: -1250px; }
  33%   { left: -1000px; }
  49%   { left: -750px; }
  66%   { left: -500px; }
  82%   { left: -250px; }*/
  100% { left: 0px; }
}

#videoZone {
    position: absolute;
    /*background-color: rgba(115, 176, 168, 1);*/
    width: 100%;
    height: 85px;
    z-index: -10;
    overflow: hidden;
    display: inline-block;
text-align: center;}

video {
  margin: auto;
  width: 100%;
  opacity: .7;
}

#imageZone {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  position: relative;
  font-family: helvetica sans-serif;;
  -webkit-animation: myDescend 4s;
  animation: myDescend 4s;
}

@-webkit-keyframes myDescend {
  0%   {top: -100px;}
  /*25%  {top: 200px;}
  75%  {top: 50px;}*/
  100% {top: 0px;}
}

h3 {
  text-align: center;
  position: relative;
  font-family: helvetica sans-serif;
  -webkit-animation: myDescend 5s;
  animation: myDescend 5s;
}

#instructions {
  text-align: center;
  position: relative;
  font-family: helvetica sans-serif;
  -webkit-animation: myDescend 6s;
  animation: myDescend 6s;
}

p {
  text-align: center;
}

.count {
    border: 10px rgba(213, 210, 147, 1) solid;
    margin: auto 100px;
    border-radius: 20%;
    font-family: helvetica sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.name {
  font-size: 24px;
  font-family: helvetica sans-serif;
  -webkit-animation: myPulse 5s infinite;
}

@-webkit-keyframes myPulse {
  0%   { opacity: 0.3; font-size: 24px;}
  50%  { opacity: 1.0; font-size: 27px;}
  100% { opacity: 0.3; font-size: 24px;}
}

#plot {
  visibility: hidden;
}
